.wrapper {
  overflow: hidden;
  position: relative;
}

.wrapper img {
  height: 80vh;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  background: rgba(0,0,0,0.5);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.price {
  padding: 1rem;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.price p {
  color: #fff;
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 700;
}

.title {
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
  font-weight: 700;
}

.description,
.receipt {
  margin-left: 3px;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
}