.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  position: relative;
}

.title {
  position: absolute;
  z-index: 1;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
}